* {
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Palanquin';
}

.site-header,
footer {
    background-color: var(--primary-color-dark);
    display: flex;
    align-items: center;
}

/* Header */

.site-header {
    justify-content: center;
    height: 70px;
    padding: 0px 16px;
}

.site-header nav {
    display: none;
}

.site-header ul {
    display: flex;
    gap: 72px;
    list-style: none;
    padding-left: 0px;
}

.site-header li {
    display: flex;
    align-items: center;
    position: relative;
}

.hover {
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0;
    z-index: 1;
}

.hover-faq {
    background-image: url(../assets/icons/underline_faq.svg);
    width: 100px;
    height: 20px;
    top: 15px;
    left: -25px;
}

.hover-highlights {
    background-image: url(../assets/icons/underline_highlights.svg);
    width: 200px;
    height: 30px;
    top: 7px;
    left: -45px;
}

.hover-contact {
    background-image: url(../assets/icons/underline_contact.svg);
    width: 100px;
    height: 20px;
    top: 15px;
    left: -10px;
}

.site-header img,
.company-logo {
    height: 56px;
    width: 56px;
}

.site-header a {
    color: var(--font-color-header-footer);
    text-decoration: none;
    z-index: 20;
    transition: all 250ms ease-in-out;
}

.site-header a:hover~div {
    transition: all 250ms ease-in-out;
    opacity: 1;
}

.site-header a:active {
    color: var(--primary-color-light);
}

/* Article Header */

.main-headline{
    display: flex;
    flex-direction: column-reverse;
}

.main-headline h1{
    color: var(--primary-color-light);
    line-height: 1;
}

.main-headline h2{
    color: var(--primary-color-dark);
}

.headline-lead{
    color: var(--font-color-dark);
    line-height: 1.2;
}

.article-facts {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 16px;
    list-style-type: none;
    padding-left: 0px;
}

.article-facts li{
    display: flex;
    align-items: center;
    height: 20px;
    gap: 6px;
}

.author-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color-dark);
    background-color: var(--secondary-color-dark);
    border-radius: 16px;
    padding: 16px 8px;
    text-align: center;
    line-height: 1.2;
}

.author-introduction img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;  
    object-position: 75% 50%;
}

.author-name{
    display: flex;
    flex-direction: column;
    padding: 16px;

}

/* Main */

main{
    padding: 32px 16px;
}

/* Pro tipps element */

.pro-tipp-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pro-tipp {
    position: relative;
    background-color: var(--secondary-color-dark);
    border-radius: 30px;
    padding: 24px 16px;
}

.pro-tipp-style-element {
    position: absolute;
    top: -70px;
    left: 5px;
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    border-radius: 16px;
    padding: 8px 16px;
    transform: rotate(-12deg);
}

.pro-tipp ol{
    padding-left: 16px;
}

.pro-tipp a{
    text-decoration: none;
    color: var(--primary-color-dark);
}

/* Footer */

footer {
    justify-content: space-between;
    align-items: flex-end;
    padding: 32px 16px 120px 16px;
}

.information {
    display: flex;
    flex-direction: column;
    color: var(--font-color-header-footer);
}

.imprint-cookies {
    display: flex;
    flex-direction: column;
}

.imprint-cookies a{
    text-decoration: none;
    color: var(--font-color-header-footer);
    transition: all 250ms ease-in-out;
}

.imprint-cookies a:hover{
    text-decoration: underline;
    transition: all 250ms ease-in-out;
}

.copyright-information {
    display: flex;
    gap: 6px;
    align-items: center;
}

.copyright-information img {
    height: 16px;
    width: 16px;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    list-style: none;
}

.social-media-links a,
.social-media-links img {
    height: 24px;
    width: auto;
    display: block;
}

.mobile-navbar ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
    background-color: var(--primary-color-light);
}


/* Größe ist erstmal nur als dummy zu betrachten und kann später dann gemiensam auf einen Wert gelget werden */
@media screen and (min-width: 768px) {

    .site-header {
        padding: 0px 80px;
        align-items: center;
    }

    .site-header {
        height: 128px;
        justify-content: unset;
        gap: 102px;
    }

    .site-header img,
    .company-logo {
        width: 72px;
        height: 72px;
    }

    .site-header nav {
        display: unset;
    }

    main {
        padding: 32px 80px;
    }

    .pro-tipp {
        width: 80%;
    }

    .pro-tipp-style-element {
    top: -60px;
    left: -65px;
    transform: rotate(-14deg);
}

    footer {
        padding: 60px 80px;
        align-items: center;
    }

    .information {
        flex-direction: row-reverse;
        gap: 32px;
    }

    .imprint-cookies {
        flex-direction: row;
        gap: 32px;
        justify-content: space-between;
    }

    .social-media-links {
        gap: 16px;
    }

    .social-media-links a,
    .social-media-links img {
        height: 32px;
    }

    .mobile-navbar {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

    .site-header {
        padding: 0px max(80px, calc(50% - 720px));
    }

    footer {
        padding: 60px max(80px, calc(50% - 720px));
    }

    main{
        padding: 32px max(80px, calc(50% - 720px));
    }

}